{% extends "layout.html" %} 

{% block content %}
    <div class="container">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae unde numquam minima eum iste
            exercitationem molestias corrupti nostrum accusantium facilis modi tenetur itaque libero omnis inventore,
            maiores doloremque aspernatur provident! Repudiandae voluptas natus perspiciatis dignissimos architecto, velit
            tempore fugit fuga. Blanditiis itaque eaque veritatis ducimus dolores animi eius reiciendis est?
        </p>
    </div>
{% endblock %}
