<!DOCTYPE html>

{% load static tailwind_tags %}
{% load static %}

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>
      {% block title %}
        Flint - The Spark Behind Smarter Decisions
      {% endblock %}
    </title>

    <meta name="keywords" content="Flint, product reviews, unbiased insights, smart shopping" />
    <meta name="description" content="Flint - Transparent product reviews with real user insights. Get unbiased opinions, and make confident decisions. 🚀" />
    <link rel="icon" href="{% static 'icons/flint.png' %}" type="image/png" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
    {% tailwind_css %}

    <script src="{% static 'js/main.js' %}" defer></script>
  </head>

  <body>
    {% include 'partials/navbar.html' %}

    <main class="">
      {% block content %}

      {% endblock %}
    </main>

    {% include 'partials/footer.html' %}
  </body>
</html>
